# dependencies
.pnpm-store/
node_modules/

# wrangler
.wrangler/
worker-configuration.d.ts
.dev.vars

# tanstacl
dist/

# AI
.claude/settings.local.json

# mcp
.playwright-mcp/

# env
.env

# graphql
src/generated/

# storybook
*storybook.log
storybook-static/
